@{
    ViewData["Title"] = "Model Services Bill";
}
@using ServiceDesk.Models.TicketsViewModels
@model TicketDetails

<h3>@DateTime.Now.ToString("d")</h3>

<p>
    123 Fake Street <br>
    Broken Arrow Oklahoma <br>
    918-555-5555
</p>


<h3>Employee</h3>
<p>
    @Model.Employee.FirstName @Model.Employee.LastName <br>
    @Model.Employee.Department <br>
    @Model.Employee.Address
</p>

<h3>For</h3>
<p>
    @Model.Ticket.Title <br>
    @Model.Ticket.Description
</p>

<h3>Technician Time: @(TimeSpan.FromHours(Model.Times.Sum(time => (time.Time.EndTime - time.Time.StartTime).TotalHours)).ToString("h\\:mm"))</h3>
<table>
    <tr>
        <th>Technician</th>
        <th>Start</th>
        <th>End</th>
        <th>Time</th>
        <th>Rate</th>
        <th>Amount</th>
    </tr>
    @{
        double total = 0;
    }
    @foreach (var time in Model.Times)
    {
        <tr>
            @{
                var rate = time.Technician.GetPayRate();
                var amount = (time.Time.EndTime - time.Time.StartTime).TotalHours * rate;
                total += amount;
            }
            <th>@time.Technician.FirstName @time.Technician.LastName</th>
            <th>@time.Time.StartTime</th>
            <th>@time.Time.EndTime</th>
            <th>@((time.Time.EndTime - time.Time.StartTime).ToString("h\\:mm"))</th>
            <th>$@rate/hr</th>
            <th>$@amount.ToString("F2")</th>
        </tr>
    }
</table>

@{
    total = total < 30 ? 30.0 : total;
    var tax = 0.1;
    var totalAfterTax = total + total * tax;
}

<h4>Sub-Total: $@total.ToString("F2")</h4>
<h4>Tax: %@(tax * 100)</h4>
<h3>Total: $@totalAfterTax.ToString("F2")</h3>

<p>
    Make all checks payable to "Tulsa Precision Technology".
</p>